@use "../helpers" as *;

.hero {
  background-image: url(images/welcome-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: rem(-142);
  &__inner {
    padding-inline: rem(15);
  }
  &__wrepper {
    padding-block: rem(300) rem(210);
    max-width: rem(326);
    p {
      margin-bottom: rem(42);
    }
    @include mobile-above {
      max-width: rem(556);
      padding-block: rem(420) rem(330);
    }
  }
  &__title {
    margin: rem(7) rem(0) rem(35);
  }
}
