@use "../helpers/" as *;

.hot-deals {
  &__inner {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  &__swiper {
    margin-bottom: 1.875rem;

    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      border-radius: rem(10);
      max-height: rem(400);

      @include mobile-above {
        max-height: rem(600);
      }
    }
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
