@use "helpers" as *;

:root {
  --color-dark: #1c1c1c;
  --color-grey: #312f30;
  --color-grey-light: #afaeae;
  --color-light: #ffffff;
  --color-accent: #f6762c;

  --font-family-base: "Roboto", sans-serif;

  --container-width: #{rem(1240)};
  --container-padding-x: #{rem(20)};

  --section-padding-y: #{rem(70)};

  --button-height: #{rem(50)};

  --transition-duration: 0.2s;
}
